/* header CSS */
@font-face {
    font-family: 'Trade_Gothic';
    src: url(../font/TradeGothicLTBoldCondensedNo.20.ttf) format('truetype');
}

.product_info_menu {
    float: left;
    width: 10%;
    padding: 15px 0 0 15px;
    font-size: 15px;
    font-weight: 500;
}

.menu-total {
    padding: 0 0 10px 15px;
    cursor: pointer;
}

.menu-total:hover {
    color: #adadad;
}


.menu-sub {
    padding: 0 0 10px 35px;
    cursor: pointer;
}

.menu-sub:hover {
    color: #adadad;
}

.productinfo_view {
    float: left;
    padding: 15px 0 15px 60px;
    width: 90%;
}

.productinfo_view_container {
    padding-right: 400px;
    padding-top: 40px; 
}
.productinfo_view_container_picture {
    width: 60%;
    float: left;
    padding: 0 0 0 54px;
    
}

.product_viewinfo_container_info {
    display: flex;
    width: 40%;
    float: left;
    margin-bottom: 10px; 
}

.product_cate {
    flex: 2;
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
}

.product_price {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
}

.product_title {
    font-size: 25px;
    font-weight: bold;
}


.productinfo_view_container_picture1 {
    text-align: center;
    width: 100%;
}

.productinfo_view_container_picture_img img{
    width: 70%;
    /* max-width: 372px; */
    max-height: 490px;
}

.size_title {
    width: 40%;
    margin: 20px 2px;
    font-size: 18px;
    font-weight: bold;
}

.product_size {
    float: left;
    width: 40%;
}
/* 
.product_size button {
    float: left;
    width: 80px;
    height: 50px;
    margin: 3px;    
} */

.size_button {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.size_button button {
    background-color: white;
    border: 1px solid #adadad;
    float: left;
    width: 18%;
    height: 50px;
    margin: 3px;    
}

.size_button button:focus {
    outline: none;
}

.product_count {
    float: left;
    width: 38%;
    height: 40px;
    margin: 8px 0 8px 3px;
    border-bottom: 1px solid;
}

.product_count_text {
    border:none;
    background-color: white;
    width: 40px;
    height: 28px;
    text-align: center;
}

.product_count span{
    font-size: 17px;
    font-weight: bold;
    margin-right: 15px;
}

.product_count button{
    background-color: #ffffff;
    padding-bottom: 6px;
}

.product_count button:focus{
    outline: none;
}

.order-warp {
    float: left;
    width: 40%;
}

.order-buy {
    float: left;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 97%;
    height: 60px;
    margin: 15px auto;
    padding: 20px 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.order-buy:hover {
    opacity: 0.7;
    text-decoration:none;
    color: white;
}

.order-cart {
    float: left;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    width: 97%;
    height: 60px;
    padding: 20px 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    
}

.order-cart:hover {
    border: 1px solid #6b6b6b;
    text-decoration:none; 
    color: black;   
}

/*      */